.min-poster{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px rgb(95, 90, 90);
    margin: .4em auto;
    cursor: pointer;
}

.min-poster:hover{
    opacity: .5;
    transition: 0.5s ease-in-out;
}
.center-title{
    text-align: center;
    margin: 5vh auto;
}

.small-movie-title{
    width: 200px;
    padding: .2em .1em;
    font-size: 1em;
    margin-top: .8em;
    text-align: center;
    height: 40px;
    text-overflow: ellipsis;
    display: none;
}
.display-block{
    display: block;
    margin: auto;
}


.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    min-height: 100vh;
    margin-bottom: 5vh;
}

@media only screen and (min-width: 450px) {
    .movie-grid{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .min-poster{
        width: 220px;
    }
}

@media only screen and (min-width: 760px){
    .min-poster{
        box-shadow: 0px 1px 1px 1px rgb(0, 0, 0);
    }
    
}
#search-input{
    height: 30px;
}



.btn-pages{
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 500px;
    margin-bottom: 3vh;
}

.btn.page{
    width: 35px;
    height: 30px;
    box-shadow: 0px 1px 1px 1px rgb(126, 126, 126);
    border: none;
}


  
.fade-in.appear {
    opacity: 1;
}

.display-flex{
    display: flex;
}

.hidden-btn{
    /* opacity: 0; */
    z-index: 2;
    margin-bottom: -20%;
    position:absolute;

}

.hidden-btn:hover{
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.max-width{
    max-width: 350px;
}

#palylistToAdd{
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}


select{
    color: black;
}

.form-api-req{
    width: 250px;
    display: block;
}

.btn.smaller-btn{
    width: 120px;
    height: 30px;
    border-radius: 8px;

    border: none;
}

#form-main{
    height: 30px;
    width: 130px;
    border-radius: 8px;
    border: none;
}

@media only screen and (min-width: 760px){
    .btn.smaller-btn{
        border-radius: 0 8px 8px 0;
    }
    #form-main{
        border-radius: 8px 0 0 8px;
    }    
    
}