
.movie-name{
    text-align: center;
    padding-top: 1em;
    margin-top: -1vh;
    margin-bottom: 16vh;
    backdrop-filter: blur(10vh);

}
.title-small{
    text-align: center;
}

.movie-nav{
    backdrop-filter: blur(20px);
    position: fixed;  
    width: 100%;
    max-width: 1600px;
    height: 30px;
    margin-top: -21px;
}


.movie-poster{
    width: 100vw;
    margin-top: -30px;
    border-radius: 5px;
    /* clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%); */

}
.title-small{
    padding-top: 5px;
}
.plot{
    padding: 5%;
}
.poster-large-screens{
    display: none;
}


.movie-plot-grid{
    display: block;
    margin-top: -10vh;
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: 1fr;
}

.movie-plot-grid div {
    min-width: 350px;
    width: 100%;
    padding: 5px 20px;
    height: fit-content;
    max-height: 800px;
}

.ul-plot li{
    padding: 4px;
    font-size: 0.8em;
}

.ul-plot li img{
    background-color: white;
    width: 8em;
}

.plot-subheading{
    font-size: 1em;
}

.stats h4 {
    font-size: .9em;
    margin: .3em auto;
}

.stats p{
    font-size: .7em;
    margin-bottom: 1em;
    padding: 2px;
}
.other-fixes{
    height: 550px;
}

.other-fixes .max-width img {
    margin: 0 .7em;
    width: 250px;
    height: 375px;
    border-radius: 10px;
}
.margin-top{
    margin-top: 200px;
}

.grid-heading{
    text-align: center;
    font-size: 1.2em;
}

@media only screen and (min-width: 450px) {
    .plot{
        padding: 2vw;
    }
    .movie-plot-grid{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .movie-plot-grid div {
        min-width: 200px;
        width: 100%;
    }
    .grid-heading{
        margin-top: 3em;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 3em;
    }
}
@media only screen and (min-width: 769px) {
    .movie-plot-grid{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    }
    .movie-plot-grid div {
        min-width: 180px;
    }
}
@media only screen and (min-width: 902px) {
    .plot{
        padding: 2%;
    }
    .movie-poster{
        /* display: none; */
        max-width: 1600px;
    }
    .poster-large-screens{
        padding-top: 30px;
        /* display: block; */
        height: 1600px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .movie-plot-grid div {
        min-width: 300px;
    }
    .movie-plot-grid{
        grid-template-columns: repeat(3, minmax(280px, 1fr));

    }

}

.add-to-playlist{
    min-width: 370px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.add-to-playlist select{
    height: 50px;
}

#palylistToAdd{
    margin: 5px;
    height: 35px;
    width: 150px;
}

.choose{
    margin-top: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
}

.btn-other{
    text-decoration: none;
    background-color: #FFFFFF;
    color: black;
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 7px;
    margin: 5px auto;
}
#languages{
    height: 200px;
}

.small-croll{
    height: 224px;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
.cast-cont{
    border-top: #555 solid .5px;
    border-bottom: #555 solid .5px;
}
.cast-cont h3{
    text-align: center;
    margin: 1em auto -.5em;
}
.person-details{
    text-align: center;
    padding: .3em .2em;
}

.cast-crew-photo{
    clip-path: circle();
    margin: .15em .5em;
    height: 108px;
}

.person-details h4{
    font-weight: 300;
    font-size: .8em;
}
.person-details p{
    font-size: .65em;
}

.cast-grid{
    margin-bottom: 3vh;
}
.cast-single{
    height: 220px;
}

@media only screen and (min-width: 769px) {
    .cast-single{
        height: 250px;
    }

    .cast-grid{
        margin-bottom: 20vh;
    }
    .small-croll{
        height: 320px;
    }
    
    .person-details{
        height: 80px;
    }
    
    .cast-crew-photo{
        height: 216px;
    }
    
    .person-details h4{
        font-size: .8em;
    }
    .person-details p{
        font-size: .6em;
    }
    .cast-grid{
        margin-bottom: 3vh;
    }
    

}