
.movie-name{
    text-align: center;
    margin-top: -3vh;
    margin-bottom: 30vh;
}
.title-small{
    text-align: center;
}

.movie-nav{
    backdrop-filter: blur(20px);
    position: fixed;  
    width: 100%;
    max-width: 1600px;
    height: 30px;
    margin-top: -21px;
}


.movie-poster{
    width: 100vw;
    margin-top: -30px;
    border-radius: 5px;
    /* clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%); */

}
.title-small{
    padding-top: 5px;
}
.plot{
    padding: 5%;
    margin-top: 2vh;

}
.poster-large-screens{
    display: none;
}
@media only screen and (min-width: 450px) {
    .plot{
        padding: 2vw;
    }

}

@media only screen and (min-width: 902px) {
    .movie-poster{
        /* display: none; */
        max-width: 1600px;
    }
    .poster-large-screens{
        padding-top: 30px;
        /* display: block; */
        height: 1600px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
    }

}

.add-to-playlist{
    width: 340px;
    display: flex;
    justify-content: center;
    justify-items: center;
}