.poster{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px rgb(0, 0, 0);
    margin-top: 5px;
}
.center-title{
    text-align: center;
    margin: 5vh auto;
}

.small-movie-title{
    width: 200px;
    padding: .2em .1em;
    font-size: 1em;
    margin-top: .8em;
    text-align: center;
    height: 40px;
}



.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    min-height: 100vh;
    margin-bottom: 5vh;
}

@media only screen and (min-width: 450px) {
    .movie-grid{
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .poster{
        width: 220px;
    }
}


#search-input{
    height: 30px;
}

.search-form{
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 4px;
}

.btn.smller{
    width: 40px;
    height: 30px;
    padding: 0;
}

.btn-pages{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
  
.fade-in.appear {
    opacity: 1;
}