.playlist-flex{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}
.with-btn img {
    margin: 10px;
    width: 250px;
}

.with-btn{
    margin: 0;
}

.blocked{
    display: block;
    margin: 5px auto;
}

.edit{
    font-size: .5em;
}

.edit-form{
    margin-top: 1em;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; 
}
.edit-form p{
    margin: 5px auto 10px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 20px;
}
.edit-form textarea, .edit-form input {
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 4px;
}

.edit-form .btn{
    border-radius: 10px;
}

.margin-form{
    margin-top: 1em;
}

.playlist-info{
    text-align: center;    
}

.playlist-info h3{
    margin: 10px auto;
    font-size: 1.5em;
}

.playlist-info p{
    padding: 5px;
}

.playlist-flex{
   padding: 10%;
}

.playlists-cont{
    height: 80vh;
}

@media only screen  and (min-width: 450px){
    .playlist-flex{
        padding: 5px;
    }
    .with-btn{
        margin: 5px;
    }
    .with-btn > .max-width img{
        width: 250px;
        height: 375px;
    }
}