.header{
    display: flex;
    color: #FFFFFF;
    height: 40px;
    justify-content: space-between;
    min-width: 100%;
    border-bottom: .7px solid #7777;
    box-shadow: 0px 2px 2px 0px rgb(49, 49, 49);
    z-index: 3;
    position: fixed;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}
#logo {
    padding-top: 9px;
    font-size: 1.6em;
}

.links{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    padding: 2px;
    width: 100%;
    display:block;
    text-align: center;
}

.link:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}


.menu{
    display: flex;
    position: absolute;
    top: 40px;
    right: 0rem;
    width: 100%;
    opacity: 0;
    transform: translateY(-950px);
    pointer-events: none;
    transition:  0.4s  ease-in-out;
    margin: auto;
    flex-direction: column;
}

.menu.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: 0.4s  ease-in-out;
    background-color: rgb(51, 51, 51, 0.7);
    box-shadow: 0px 2px 2px 0px rgb(122, 122, 122);
    z-index: 5;
    flex-direction: column;

}
.toggle-button{
    position: absolute;
    top: 7px;
    right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 10;
}

.toggle-button:hover{
    opacity: 0.7;
    transition: 0.5 ease-in-out;
}


.padding-one{
    padding-top: 63px;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: white;
}

@media only screen and (min-width: 450px) {


    .menu.active{
        pointer-events: auto;
        width: 50%;
        right: 0rem;
        transform: translateY(0);
        height: 100vh;
    }
    .menu{
        position: fixed;
        flex-direction: row;
        pointer-events: auto;
        background-color: #555;
        transform: translateY(-1500px);
        width: 50%;
        height: 100vh;
        background-color: #333;
    }

    .link{
        font-size: 1.3em;
        padding: 10px 0;
        width: 50vw;
        line-height: 2vh;
    }
    .navlink:hover{
        background-color: rgb(0, 0, 0);
        transition: 0.5s ease-in-out;
    }

}

@media only screen and (min-width: 768px) {
    .menu.active{
        height: auto;
        max-width:600px;
        top: auto;
        right: auto;
        position: static;
        box-shadow: none;
        padding-top: 8px;
        background-color: #333;
        flex-direction: row;
        background-color: rgb(0, 0, 0);

    }
    .menu{
        transform: translateY(0);
        opacity: 1;
        max-width: 600px;
        position: static;
        height: auto;
        top: auto;
        right: auto;
        padding-top: 8px;
        background-color: rgb(0, 0, 0);
    }
    .link{
        font-size: 1.3em;
        max-width: 100px;
        line-height: auto;
        padding: 3px;
        display: inline;
        white-space: nowrap;
    }
    .toggle-button{
        display: none;
    }
    .header{
        /* I know this looks weird but trust me it works lol */
        min-width: auto;
        width: 100%;
        max-width: 1600px;
    }
}