@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
html{
  background-color: #000000;
}
input{
  text-align: center;
  color: #0e0e0e;
}
body{
  max-width: 1600px;
}
*:focus {
  outline: none;
}
@media only screen  and (min-width: 769px){
  html{
    background-color: #2D2D2D;
  }
  .home-grid{
      display: flex;
      justify-content: space-around;
      min-height: 80vh;
  }

  .home-img-container{
      width: 320px;
      margin-top: -6vh;
      background-image: url("./images/background-some.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }
}
.description-box{
  width: 230px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 3px;
  height: 80px;
  color: black;
}
.website-link{
  text-decoration: none;
}

.website-container{
  min-height: 77vh;
}
@media only screen  and (min-width: 450px){
  .website-container{
    min-height: 80.2vh;
  }
}
@media only screen  and (min-width: 450px){
  .website-container{
    min-height: 90.2vh;
  }
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}


select{
  -webkit-appearance: menulist-textfield;
}