@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  font-family: 'Comfortaa', cursive;

}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

input{
  text-align: center;
}

*:focus {
  outline: none;
}

.App{
  background-color: #f0f0f059;
}
@media only screen  and (min-width: 769px){
  .home-grid{
      display: flex;
      justify-content: space-around;
  }

  .home-img-container{
      width: 320px;
      margin-top: -6vh;
      background-image: url("./images/background-some.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }
  
}