@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  color: #FFFFFF;
  font-weight: 300;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
html{
  background-color: #000000;
}
input{
  text-align: center;
  color: #0e0e0e;
}
body{
  max-width: 1600px;
}
*:focus {
  outline: none;
}
@media only screen  and (min-width: 769px){
  html{
    background-color: #2D2D2D;
  }
  .home-grid{
      display: flex;
      justify-content: space-around;
      min-height: 80vh;
  }

  .home-img-container{
      width: 320px;
      margin-top: -6vh;
      background-image: url("./images/background-some.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }
  .website-container{
    min-height: 96.5vh;
  }
}
.description-box{
  width: 230px;
  border-radius: 5px;
  margin: 10px auto;
  padding: 3px;
  height: 80px;
  color: black;
}
.website-link{
  text-decoration: none;
}

.website-container{
  min-height: 72vh;
}

select{
  display: block;
}